<app-header></app-header>
<div class="content">
  <h1>Statistic</h1>
  <div class="schedule">
    <div class="category">
      <mat-icon (click)="minusOne()">arrow_back_ios</mat-icon>
      <span class="fs"> {{category}} </span>
      <mat-icon (click)="plusOne()">arrow_forward_ios</mat-icon>
    </div>
    <ng-container *ngIf="month.substr(3,2 )>'10'">
      <span class="noInfo">There is no information. Please choose another month.</span>

    </ng-container>
    <div class="block">
      <ng-container *ngIf="category=='Графік витрат'">
        <div id="chart-spending"></div>
      </ng-container>
      <ng-container *ngIf="category=='Графік збережень'">
        <div id="chart-saving" *ngIf="month.substr(3,2 )<'11'"></div>
      </ng-container>
      <ng-container *ngIf="category=='Графік прибутку'">
        <div id="chart-income"></div>
      </ng-container>

      <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Month" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="year" (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="border" *ngIf="month.substr(3,2 )<'11'">
    <table class="example-table">
      <tr>
        <th>Category name</th>
        <th>%</th>
        <th>Sum</th>
      </tr>
      <ng-container *ngIf="category=='Графік витрат'">
        <ng-container *ngFor="let item of allspends">
          <tr
            *ngIf="(item.create_at.substr(5, 2) === month.substr(3, 2)) && (item.create_at.substr(0, 4) === month.substr(6, 4))">
            <td>{{item.name}}</td>
            <td>{{item.sum*100/LogUser.balance | number : '1.1-2'}} %</td>
            <td>&#8372; {{item.sum}}</td>
          </tr>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="category=='Графік збережень'">
        <ng-container *ngFor="let item of allsavings">
          <tr
            *ngIf="(item.create_at.substr(5, 2) === month.substr(3, 2)) && (item.create_at.substr(0, 4) === month.substr(6, 4))">
            <td>{{item.name}}</td>
            <td>{{item.sum*100/LogUser.balance | number : '1.1-2'}} %</td>
            <td>&#8372; {{item.sum}}</td>
          </tr>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="category=='Графік прибутку'">
        <ng-container *ngFor="let item of allincome; ">
          <tr
            *ngIf="(item.create_at.substr(5, 2) === month.substr(3, 2)) && (item.create_at.substr(0, 4) === month.substr(6, 4))">
            <td>{{item.category}}</td>
            <td>{{item.sum*100/LogUser.balance| number : '1.1-2'}} %</td>
            <td>&#8372; {{item.sum}}</td>
          </tr>
        </ng-container>
      </ng-container>
    </table>

  </div>
</div>
