<header>
  <div class="menu">
    <nav>
        <img src="assets/images/menu.png" alt="">
    </nav>
  </div>
<div class="userInfo">
    <div class="user">
        <img src="assets/images/user.png" alt="">
        <div class="text">
            <span>User:</span>
            <span>{{LogUser.username}} {{LogUser.usersurname}}</span>
        </div>
    </div>
    <div class="balance">
        <img src="assets/images/money.png" alt="">
        <div class="text">
            <span>Balance:</span>
            <span>&#8372; {{LogUser.balance}}</span>
        </div>
    </div>
    <div class="expenses">
        <img src="assets/images/wallet.png" alt="">
        <div class="text">
            <span>Expenses:</span>
            <span>&#8372; 99999999</span>
        </div>
    </div>
    <div class="date">
        <img src="assets/images/calendar.png" alt="">
        <div class="text">
            <span>Date:</span>
            <span>{{LogUser.create_at | date: 'dd.MM.YYYY, HH:mm'}}</span>
        </div>
    </div>
    <div class="logout"> 
        <button type="button" (click)="LogOut()">Log Out</button>
    </div>
</div>
</header>
