mat-toolbar {
  font-family: sans-serif;
}

.menu {
  height: 50px;
  width: 60px;
  background-color: rgba(78, 206, 136, 0.913);
  box-shadow: 0 0 10px rgba(172, 172, 172, 0.84);
  border-radius: 0%;
}

.f {
  display: flex;
}

button {
  border-bottom: 1px solid rgba(78, 206, 136, 0.913);
}

button img, .close img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

button span{
  font-size: 1.4em;
}
.mat-list-base {
  padding-top: 0;
}

.userInfo {
  height: 50px;
  margin-left: 20px;
  width: 95%;
  display: flex;
  background-color: rgba(78, 206, 136, 0.913);
  box-shadow: 0 0 10px rgba(172, 172, 172, 0.84);
  justify-content: space-around;
}

.userInfo div {
  display: flex;
}

.userInfo img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.text {
  font-size: 1.1em;
  margin: 15px 0 0 13px;
  color: rgb(74, 74, 74);
}

.text span {
  text-transform: uppercase;
  margin-right: 5px;
}
.matmenu{
  width: 600px;
}
.matmenu .menubox{
  padding-top: 50px;
  display: block;
  position: absolute;
  top: 0%;
  left: -2%;
  background-color: #f8f8f8;
  width: 50%;
  height: 79%;
  margin: 0;
  padding:0 35px;
  list-style: none;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 10;
}

.black-block {
  position: absolute;
  height: 110%;
  min-width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(10, 10, 10, 0.379)
}

.close {
  width: 20px;
  margin-left: 80%;
}