.content {
  width: 94.5%;
  min-height: 570px;
  box-shadow: 0 0 10px rgba(172, 172, 172, 0.84);
  margin: 35px 43px;
  padding: 10px;
  font-family: sans-serif;
}

.block {
  margin-top: 20px;
}

.circle {
  border: 2px solid rgba(78, 206, 136, 0.913);
  border-radius: .5em;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 33px;
  margin: 15px;
}

.block span,
h2 {
  text-transform: uppercase;
  margin-left: 27px;
  color: rgba(73, 73, 73, 0.84);
  font-size: 1em;
}

img {
  width: 40px;
  height: 40px;
  margin: 12px;
}

.sum {
  font-size: 1em;
  margin: 0 30px;
  color: rgba(73, 73, 73, 0.84);
}

.flex {
  display: flex;
}

.saving,
.spends {
  margin: 25px 0 0;
}

h2 {
  margin-left: 10px;
  font-weight: normal;
  font-size: 1.2em;
}

hr {
  margin: 0 10px;
  background-color: rgba(100, 100, 100, 0.84);
  border: none;
  height: 2px;
}

.add .circle {
  border: 2px solid rgba(114, 114, 114, 0.84);
  margin: 54px 15px 0;
}

.plus img {
  width: 25px;
  height: 25px;
  margin: 20px;
}

.spends .ml {
  margin-left: 18px;
}

.useItem,
.useItem1,
div.active {
  box-shadow: 0 0 10px rgba(78, 206, 136, 0.913);
}

.underblock {
  width: 100%;
  min-height: 750px;
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0);
}

.calculator {
  position: absolute;
  top: 8%;
  left: 37%;
  box-shadow: 0 0 50px rgba(172, 172, 172, 0.84);
  width: 400px;
  margin: 70px auto;
  background-color: white;
  z-index: 10;
}

button {
  height: 60px;
  font-size: 2em;
}

.calculator__screen {
  width: 100%;
  height: 100px;
  border: none;
  background-color: rgba(78, 206, 136, 0.913);
  text-align: right;
  font-size: 2em !important;
}

.calculator__btn,
.calculator__operator,
.calculator__clear,
.calculator__equal {
  background-color: white;
  border: none;
}

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.close {
  margin: 20px 0 20px 92%;
  width: 20px;
  height: 20px;
}

.calculator__check {
  height: 30%;
}

.margin {
  margin-left: -50px;
}

.valid {
  color: red;
  font-size: 1.1em;
  font-family: sans-serif;
  text-align: center;
}

input:focus {
  border: none;
  outline: none;
}
