<div class="body">
  <section>
    <div class="example-button-row">
      <button mat-raised-button (click)="Back()">Back</button>
    </div>
  </section>
  <mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar [src]="LogUser?.imagePath" (click)="ChooseAvatar()" id="avatar">
      <mat-card-title class="hoverChange" mat-stroked-button>{{LogUser?.username}}
        <mat-icon matSuffix mat-stroked-button (click)="Update('name')">mode_edit</mat-icon>
      </mat-card-title>
      <mat-card-title class="hoverChange">{{LogUser?.usersurname}}
        <mat-icon matSuffix (click)="Update('surname')" mat-stroked-button>mode_edit</mat-icon>
      </mat-card-title>
      <mat-card-title class="hoverChange block" [ngStyle]="{'margin-top': '7px'}">{{LogUser?.email}}
        <mat-icon matSuffix (click)="Update('email')">mode_edit</mat-icon>
      </mat-card-title>

    </mat-card-header>
    <img mat-card-image [src]="LogUser?.imagePath">
    <mat-card-content>
      <div class="hoverChange">
        <span>
          Balance:
        </span>
        <p> {{LogUser?.balance}} &#8372;</p>
        <mat-icon matSuffix (click)="Update('balance')">mode_edit</mat-icon>
      </div>
      <div>
        <span>
          Created at:
        </span>
        <mat-card-subtitle [ngStyle]="{'margin': '0 2px'}">
          <p> {{LogUser?.create_at | date: 'dd.MM.YYYY, HH:mm'}}</p>
        </mat-card-subtitle>
      </div>

    </mat-card-content>
    <div class="example-button-row">
      <button mat-stroked-button (click)="openDialog()">Change password</button>
    </div>
    <mat-card-actions>
      <button mat-button (click)="Save()">Save</button>
      <button mat-button (click)="Cancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>

  <!-- Choose Avatar -->
  <mat-card class="example-card-avatar" *ngIf="isAvatar">
    <div (click)="close()">
      <img src="assets/images/close-button.png" alt="" class="close">
    </div>
    <mat-card-title-group>

      <mat-card-title class="block">Choose Avatar</mat-card-title>
      <div *ngFor="let item of avatar; index as i">
        <img mat-card-lg-image [src]="item.imagePath" (click)="ChoosePhoto(i)">
      </div>
    </mat-card-title-group>
  </mat-card>

</div>
<div class="black-block" *ngIf="isChoose">
</div>
