<div class="card card-container">
  <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
  <form name="form" (ngSubmit)="f.form.valid && onLogin()" #f="ngForm" novalidate>
    <div class="alert-warning" *ngIf="f.submitted && isSignInFailed">
      Sign In failed! Please write correct user<br />
    </div>
    <div id="email-container">
      <label for="email">Email</label>
      <input  type="email" class="form-control email" name="email" [(ngModel)]="form.email" required #email="ngModel" email />
      <div class="alert-danger" *ngIf="email.errors && f.submitted">
        <div *ngIf="email.errors['required']" id="email-error-msg">Email is required</div>
        <div *ngIf="email.errors['email']">
          Email must be a valid email address
        </div>
      </div>
    </div>
    <div class="form-group" id="password-container">
      <label for="password">Password</label>
      <input type="password" class="form-control password" name="password" [(ngModel)]="form.password" required
        #password="ngModel" minlength="6" autocomplete="on" />
      <div class="alert-danger" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors['required']" id="password-error-msg">Password is required</div>
        <div *ngIf="password.errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block my-3" id="login-btn-container">Login</button>
    </div>
  </form>
</div>
