<div *ngIf="!isPasswordOk">
  <div mat-dialog-content>
    <p>For changing {{data.updateItem}} you should enter your password</p>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="password" class="password">
    </mat-form-field>
  </div>
  <p *ngIf="passwordWrong" class="passwordError" [ngStyle]="{'color': color}">Passwort is not correct</p>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button class="next" (click)="CheckPassword()">Next</button>
  </div>
</div>

<div *ngIf="isPasswordOk">
  <div mat-dialog-content>
    <p>Enter new {{data.updateItem}}</p>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="data.userDetail">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.userDetail" cdkFocusInitial>Save</button>
  </div>
