<!-- Change password -->
<div *ngIf="!isPasswordOk">
  <div mat-dialog-content>
    <p>Please enter your password</p>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="password" class="oldPassword">
    </mat-form-field>
  </div>
  <p *ngIf="passwordWrong" class="passwordError" [ngStyle]="{'color': color}">Passwort is not correct</p>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="CheckPassword()" class="next">Next</button>
  </div>
</div>

<div *ngIf="isPasswordOk">
  <div *ngIf="confirmPassword" [ngStyle]="{'color': color}">
    Confirm password is not correct
  </div>
  <div *ngIf="passwordInvalid" [ngStyle]="{'color': color}">
    Password not correct. Please use at least one uppercase alphabetical character, at least one numeric character and
    at least one special character.
  </div>
  <mat-label>Enter new password</mat-label>
  <mat-form-field appearance="fill"><input matInput [(ngModel)]="password1">
  </mat-form-field>
  <mat-label>Confirm new password</mat-label>
  <mat-form-field appearance="fill"> <input matInput [(ngModel)]="data.password">
  </mat-form-field>
  <button mat-button (click)="CheckNewPassword()" *ngIf="!newPasswordValid">Next</button>
  <button mat-button [mat-dialog-close]="data.password" cdkFocusInitial *ngIf="newPasswordValid">Save</button>

</div>
